@model DevPrep.Models.ViewModels.InterviewQuestionViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Innterview Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var ques in Model.InterviewQuestions ) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => ques.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ques.Answer)
            </td>
            @if (@ques.ApplicationUserId == @Model.LoggedInUser.Id)
            {
                <td>

                    
                    @Html.ActionLink("Edit", "Edit", new { id = ques.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = ques.Id })

                    
                </td>
            }
        </tr>
}
    </tbody>
</table>
