@model DevPrep.Models.ViewModels.ConceptViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.ConceptsWithStuff[0].SoftwareLanguageId">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConceptsWithStuff)
        {

            <tr>
                <td>
                    @(item.ConceptName)
                    <ol>
                        @foreach (var des in item.Descriptions)
                        {
                            <li> @des.Paragraph </li>
                            <li>@Html.ActionLink("Delete", "Delete", "Descriptions", new { id = des.id }, new { area = "" })</li>

                        }
                        <li> @Html.ActionLink("Add A Paragraph", "Create", "Descriptions", new { id = item.ConceptId }, new { area = "" })</li>


                    </ol>
                    <ul>
                        @foreach (var link in item.UsefulLinks)
                        {
                            <li> @link.Title  <a href="http://@link.Link" target="_blank">@link.Link </a> </li>
                            <li>@Html.ActionLink("Delete", "Delete", "UsefulLinks", new { id = link.id }, new { area = "" })</li>

                        }
                        <li> @Html.ActionLink("Add Link", "Create", "UsefulLinks", new { id = item.ConceptId }, new { area = "" })</li>
                    </ul>

                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ConceptId })
                    </div>
                </td>
            </tr>


        <tr>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.ConceptId })
            </td>
        </tr>
        }
    </tbody>

</table>

