
@model DevPrep.Models.ViewModels.ConceptViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Concepts</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.ConceptsWithStuff[0].SoftwareLanguageId">Create New Concept</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th scope="col">Concepts</th>
            <th scope="col">Descriptions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConceptsWithStuff)
        {

            <tr>
                <th scope="row">@(item.ConceptName)</th>
                    
                <td>
                    @foreach (var des in item.Descriptions)
                    {
                    <li>
                        @des.Paragraph <input type="button" value="-" class="btn-danger" onclick="location.href='@Url.Action("Delete", "Descriptions", new { id = des.id })'" /><input type="button" value="+" class="btn-outline-success" onclick="location.href='@Url.Action("Create", "Descriptions", new { id = item.ConceptId })'" />

                    </li>

                    }



                    <ul>
                        @foreach (var link in item.UsefulLinks)
                        {
                        <li>
                            @link.Title  <a href="http://@link.Link" target="_blank">@link.Link </a> 
                            @if (@link.ApplicationUserId == @Model.LoggedInUser.Id) { <input type="button" value="-" class="btn-danger" onclick="location.href='@Url.Action("Delete", "UsefulLinks", new { id = link.id })'" />} 
                        </li>
                        }
                        <div> @Html.ActionLink("Add Link", "Create", "UsefulLinks", new { id = item.ConceptId }, new { area = "" })</div>
                    </ul>
                </td>
            </tr>
        <tr>
                <th scope="row">@Html.ActionLink("Delete", "Delete", new { id = item.ConceptId }) |  @Html.ActionLink("Edit", "Edit", new { id = item.ConceptId })</th>
           
        </tr>
        }
    </tbody>

</table>

