
@model DevPrep.Models.ViewModels.ConceptViewModel

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
    <h1>@Model.SoftwareLanguage.Name Concepts</h1>
=======
<h1>@Model.SoftwareLanguage.Name Concepts</h1>
>>>>>>> master

<p>
    
    <a asp-action="Create" asp-route-id="@Model.SoftwareLanguage.Id">Create New Concept</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th scope="col" >Concepts</th>
            <th scope="col">Descriptions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ConceptsWithStuff)
        {

            <tr>
                <th scope="row">@(item.ConceptName)</th>
                    
                <td>
                    @foreach (var des in item.Descriptions)
                    {
                    <li>
                        @des.Paragraph  @if (@des.ApplicationUserId == @Model.LoggedInUser.Id)
<<<<<<< HEAD
                        {<input type="button" value="-" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete", "Descriptions", new { id = des.Id })'" />}
=======
                        {<input type="button" value="-" class="btn-danger" onclick="location.href='@Url.Action("Delete", "Descriptions", new { id = des.Id })'" />}
>>>>>>> master

                    </li>

                    }
                <div>@Html.ActionLink("Add a Paragraph", "Create", "Descriptions", new { id = item.ConceptId }, new {area=""})</div>



                    <ul>
                        @foreach (var link in item.UsefulLinks)
                        {
                        <li>
<<<<<<< HEAD
                            @link.Title  <a href="@link.Link" target="_blank">@link.Link </a> 
                            @if (@link.ApplicationUserId == @Model.LoggedInUser.Id) { <input type="button" value="-" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete", "UsefulLinks", new { id = link.Id })'" />} 
=======
                            @link.Title  <a href="http://@link.Link" target="_blank">@link.Link </a> 
                            @if (@link.ApplicationUserId == @Model.LoggedInUser.Id) { <input type="button" value="-" class="btn-danger" onclick="location.href='@Url.Action("Delete", "UsefulLinks", new { id = link.Id })'" />} 
>>>>>>> master
                        </li>
                        }
                        <div> @Html.ActionLink("Add Link", "Create", "UsefulLinks", new { id = item.ConceptId }, new { area = "" })</div>
                    </ul>
                </td>
            </tr>
            <tr>
                @if (item.ApplicationUserId == @Model.LoggedInUser.Id)
                {
                    <th scope="row">@Html.ActionLink("Delete", "Delete", new { id = item.ConceptId }) |  @Html.ActionLink("Edit", "Edit", new { id = item.ConceptId })</th>
                }
            </tr>
        }
    </tbody>

</table>

